<div class="sidebar" id="sidebar">
  <h2>BEHS Engineering Hub</h2>

  <input
    type="text"
    class="search"
    placeholder="Search..."
    onkeyup="searchMenu(this.value)"
  >

  <div class="menu-title">Home</div>
  <div class="submenu">
    <a href="/BEHS-Engineering-Hub/index.html">Home Page</a>
  </div>

  <div class="menu-title">Course Hubs</div>
  <div class="submenu">
    <a href="/BEHS-Engineering-Hub/courses/ied.html">Engineering 1 - IED</a>
    <a href="/BEHS-Engineering-Hub/courses/poe.html">Engineering 2 - POE</a>
    <a href="/BEHS-Engineering-Hub/courses/de.html">Engineering 3 - DE</a>
  </div>

  <div class="menu-title">Robotics</div>
  <div class="submenu">
    <a href="/BEHS-Engineering-Hub/robotics/robotics.html">BEHS Robotics</a>
  </div>

  <div class="menu-title">Additional Resources</div>
  <div class="submenu">
    <a href="/BEHS-Engineering-Hub/resources/pltwarticleresources.html">PLTW Article Resources</a>
    <a href="/BEHS-Engineering-Hub/resources/freqdocuments.html">Frequently Used Documents</a>
    <a href="/BEHS-Engineering-Hub/resources/programsused.html">Programs Used</a>
    <a href="/BEHS-Engineering-Hub/resources/trainingsandcerts.html">Trainings & Certifications</a>
    <a href="/BEHS-Engineering-Hub/resources/gamesandmore.html">Games & More</a>
  </div>

  <div class="menu-title">Pathway News</div>
  <div class="submenu">
    <a href="/BEHS-Engineering-Hub/news/gallery.html">Photo Gallery</a>
    <a href="/BEHS-Engineering-Hub/news/newsletter.html">Monthly Newsletter</a>
  </div>
</div>
